<li class="party-row">
  <input
    class="party-row__color party-row__color--red"
    type="checkbox"
    aria-label="Select Partido Rojo"
  />

  <input class="party-row__name" type="text" value="Partido Rojo" aria-label="Party name" />

  <div class="party-row__controls" aria-label="Party value controls">
    <button class="party-row__control-button" type="button" aria-label="Decrease value">
      <span aria-hidden="true">−</span>
    </button>

    <span class="party-row__value" aria-label="Current value">35</span>

    <button class="party-row__control-button" type="button" aria-label="Increase value">
      <span aria-hidden="true">+</span>
    </button>

    <button class="party-row__delete-button" type="button" aria-label="Delete party">
      <span aria-hidden="true">×</span>
    </button>
  </div>
</li>
